* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family:'Roboto', sans-serif;
}

a {
    text-decoration:none;
}

ul {
    list-style-type:none;
}

.header {
    background:#1F2937;
}

.headLinks {
    display:flex;
    justify-content:space-around;

}
#logo{
    font-size:24px;
    
}
.hText {
    color:#F9FAF8;
    font-weight:900;
    font-size:48px;
}
.rightLinks {
    display:flex;
}