* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family:'Roboto', sans-serif;
}

a {
    text-decoration:none;
}

ul {
    list-style-type:none;
}

.header {
    background:#1F2937;
    padding:10px 0;

}

.headLinks {
    display:flex;
    justify-content:space-between;
    margin: 0 250px 70px;

}
#logo{
    font-size:24px;
    
}
.rightLinks {
    display:flex;
    gap:16px;
}
.hText {
    color:#F9FAF8;
    font-weight:900;
    font-size:48px;
}
.subHText {
    font-size:18px;
    color:#E5E7EB;
}
.headContent {
    display:flex;
    justify-content:space-between;
    margin:0 250px 70px;

}
.headImage {
    width:400px;
    height:200px;
    background-color:gray;
}
.heroText {
    max-width:400px;
}
.headButton {
    background-color:#3882F6;
    font-size:18px;
    color:#F9FAF8;
    font-weight:900;
    padding:8px 30px;
    margin-top:8px;
    border-radius:8px;
    border:none;
    
}
button:hover {
    cursor:pointer;
}
.contentHeader {
    font-size:36px;
    color:#1F2937;
    font-weight:900;
    text-align:center;
    margin-top:36px;
}
.items {
    display:flex;
    justify-content:center;
    text-align:center;
    margin:36px 0 144px;
    gap:48px;
}
.container {
    width: 188px;
    height: 188px;
    border:solid;
    border-radius:8px;
    border-color:#3882F6;
}
.subtext {
    color:#4f4f4f;
    font-size:18px;
}
.quote {
    display:flex;
    background-color:#E5E7EB;
    color:#1F2937;
    font-size: 36px;
    padding: 125px;
    justify-content:center;
}
.quoteContainer {
    max-width:900px;
}
#quote {
    font-style: italic;
    font-weight:300;
}
#author {
    display:flex;
    font-weight:700;
    justify-content:flex-end;
}
.signUpSection {
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#F9FAF8;
    background-color: #3882F6;
    border-radius:8px;
    margin: 100px 300px;
    padding:50px 112px;
    font-size:18px;
}
#callText {
    font-weight:900;
}
